<!--
  Riviera Premier League
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en">
<![endif]-->
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8">
<title>Riviera Premier League</title>
<link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>

<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<link href="/stylesheets/rplmain.css" rel="stylesheet" type="text/css"/>
<style>
    #bs-example-navbar-collapse-1 a {
        color: rgba(255,255,255,0.8);
    }
    #bs-example-navbar-collapse-1 a:hover {
        color: white;
    }
    a {
        color: white;
    }
    #bs-example-navbar-collapse-1 li.active a{
        color: rgba(0,0,0,0.8);
        background: rgba(255,255,255,0.8);
    }



    a:hover {
        text-decoration: underline;
        color: white;

    }

    button {
        background: rgba(0, 0, 255, 0.85);
        color: white;
        border: none;
        padding: 1.5% 4%;
        font-size: 125%;
        z-index: 1;
    }

    button:hover {
        box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    #login_small {
        display: none;
    }
    #brand{
        display: none;

    }

    @media (max-width: 992px) {
        #header{
            display: none;
        }
        #brand{
            display: block;
            color: rgba(255,255,255,0.7);
        }
        #brand:hover{
            color: rgba(255,255,255,1);
        }
        #login {
            display: none;
        }

        #login_container {
            display: none;
        }

        #register {
            min-height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 2;
            position: fixed;
            width: 100%;
            top: 0;
            padding: 0;
            margin: 0;
            display: none;
        }

        #register #form {
            background: rgba(0, 0, 0, 0.9);
            width: 100%;
            margin: 0;
            color: white;
            padding: 2%;
        }

        #login_small {
            min-height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 2;
            position: fixed;
            width: 100%;
            top: 0;
            padding: 0;
            margin: 0;
            display: none;
        }

        #login_small #form {
            background: rgba(0, 0, 0, 0.9);
            width: 100%;
            margin: 0;
            color: white;
            padding: 2%;
        }


    }

    @media (min-width: 992px) {
        #bs-example-navbar-collapse-1 li {
            padding: 0;
            font-size: 130%;
            left:29.5%;
            margin-left:3% ;
        }
        #bs-example-navbar-collapse-1 ul{
            width: 100%;

        }
        #loginh, #loginl {
            display: none;
        }

        #login_container {
            margin: 0;
            padding: 0;
            z-index: 3;
            position: absolute;

            top: 40%;
            right: -22.5%;
        }

        #login {
            background: rgba(0, 0, 0, 0.8);
            width: 100%;
            box-shadow: -7px 3px 10px -1px rgba(0, 0, 0, 0.25), -6px 3px 10px -1px rgba(0, 0, 0, 0.25), -6px -3px 10px -1px rgba(0, 0, 0, 0.25);

            margin: 0;
            padding: 10%;
            z-index: 2;
        }

        #login:hover {
            box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }



        #register #form {
            background: rgba(0, 0, 0, 0.9);
            margin: 2% 0;
            color: white;
            padding: 2%;
        }

        #login_box {
            background: rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 10px -1px rgba(0, 0, 0, 0.25), 0 -3px 10px -1px rgba(0, 0, 0, 0.25);

            margin: 0;
            padding: 0;
            z-index: 2;
        }

        #login_box form {
            margin: 3% 0;
            border: none;
        }

        #login_box form input {
            margin: 2% 0;
            border: 1px solid rgba(0, 0, 0, 0.6);
            border-radius: 4px;
            height: 2em;

        }

        #login_box form a {
            color: rgba(255, 255, 255, 0.7);
        }

        #login_box form a:hover {

            color: rgba(255, 255, 255, 1);
        }

        #login_box form button {
            background: rgba(50, 50, 255, 0.6);
            color: white;
            border: none;
            padding: 1.5% 4%;
            font-size: 125%;
            z-index: 1;
            border-radius: 2px;
        }

        #login_box form button:hover {
            box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        #login_small {
            display: none;
        }
    }

</style>
<script>
    function reg(x) {
        if (x === 1) {
            document.getElementById('register').style.display = 'none';
            /* $( document.getElementById('red') ).click(function() {
             $( "#register" ).show( "fade" );
             });*/
        } else {
            /*$( document.getElementById('x') ).click(function() {
             $( "#register" ).hide( "fade" );
             });*/
            document.getElementById('register').style.display = 'block';
        }

    }
    function log(x) {
        if (x === 1) {
            document.getElementById('login_small').style.display = 'none';
            /* $( document.getElementById('red') ).click(function() {
             $( "#register" ).show( "fade" );
             });*/
        } else {
            /*$( document.getElementById('x') ).click(function() {
             $( "#register" ).hide( "fade" );
             });*/
            document.getElementById('login_small').style.display = 'block';
        }

    }
    function login(x) {
        if (x === 1) {

            document.getElementById('login_container').style.right = '0';
            document.getElementById('log').innerHTML = "<a href='#' onclick='login(2)'><div class='col-md-12' id='login'>>></div></a>";

        } else {
            document.getElementById('login_container').style.right = '-22.5%';
            document.getElementById('log').innerHTML = "<a href='#' onclick='login(1)'><div class='col-md-12' id='login'>Login</div></a>";
        }

    }
</script>
</head>
<body style="overflow-x:hidden;background-color:rgba(200,200,200,0.5);font-family: 'PT Sans', sans-serif;height:100%;text-align: center">
<!-- Container -->
<div style="padding: 0;margin: 0;overflow: hidden">
    <!-- Header -->
    <div class="col-md-12" style="background: white;z-index: 3" id="header">
        <!--logo-->
        <div class="row">

            <div class="col-md-1 col-md-offset-2" align="center">
                <img src="/images/rplsmall.jpg" style="height:9em;"> <!--/images/rpllogo.jpg-->
            </div>
            <div class="col-md-1"></div>
            <!--Riviera Premier League -->
            <div class="col-md-6" align="center" style="margin-left: -5%">

                <h1 style="margin-top:7%">
                    <small style="font-size: 130%;text-shadow: 1px 2px rgba(0,0,0,0.3)">Riviera Premier League</small>
                </h1>

            </div>


        </div>
        <!--Menu -->


    </div>
    <!--Register-->

    <!--test-->
    <nav class="navbar navbar-default" role="navigation" style="margin:0;z-index: 2;background: rgba(0,0,0,0.8);position: relative;padding: 0;border: none;border-radius: 0">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" id="brand">Riviera Premier League</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/rule">Rules</a></li>
                    <li><a href="/prizes">Prizes</a></li>
                    <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Register</a></li>
                    <li id="loginh">
                        <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">Login</a>
                    </li>

                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--test-->

    <div id="login_small" class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="form">
            <div style="float: right">
                <a href="#" onclick="log(1)" id="x">X</a>
            </div>
            <h2 style="">Login</h2>

            <form action="/login" method="post">

            </form>
        </div>
    </div>
    <!--Content-->
    <!--Register-->


    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background: rgba(0, 0, 0, 0.8);border-radius: 0">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"
                                                                                   style="color: #ffffff">×</span><span
                                class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="myLargeModalLabel" style="color: #ffffff">Register</h2>
                </div>
                <div class="modal-body">
                    <form action="/register" method="post">

                        <input name="u_name" type="text" placeholder="Username"/>
                        <br/>
                        <input name="pass" type="password" placeholder="Password"/>
                        <br/>
                        <a href="#" style="">forgot password?</a>
                        <br/>
                        <button type="submit" value="Submit" style="font-size: 100%;margin: 2%">Submit</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <!--login modal-->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background: rgba(0, 0, 0, 0.8);border-radius: 0">


                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"
                                                                                   style="color: #ffffff">×</span><span
                                class="sr-only">Close</span></button>
                    <h2 class="modal-title" id="myLargeModalLabel" style="color: #ffffff">Login</h2>
                </div>
                <div class="modal-body">
                    <form action="/register" method="post">

                        <input name="u_name" type="text" placeholder="Username"/>
                        <br/>
                        <input name="pass" type="password" placeholder="Password"/>
                        <br/>
                        <a href="#" style="">forgot password?</a>
                        <br/>
                        <button type="submit" value="Submit" style="font-size: 100%;margin: 2%">Submit</button>
                    </form>
                </div>


            </div>
        </div>
    </div>


    <!--login-->
    <div class="col-md-4" style="float: right" id="login_container">
        <div class="row" style="padding: 0;margin: 0">
            <div class="col-md-4" style="margin:0;padding: 0" id="log">
                <a href="#" onclick="login(1)">
                    <div class="col-md-12" id="login">
                        Login
                    </div>

                </a>
            </div>
            <div class="col-md-8" id="login_box">
                <form action="/login" method="post">

                    <input name="u_name" type="text" placeholder="Username"/>
                    <br/>
                    <input name="pass" type="password" placeholder="Password"/>
                    <br/>
                    <a href="#" style="">forgot password?</a>
                    <br/>
                    <button type="submit" value="Submit" style="font-size: 100%;margin: 2%">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!--Main box-->
    <div class="col-md-2"></div>
    <div align="center" class="col-md-8"
         style="background: rgba(255,255,255,1);margin-bottom: 2%;box-shadow: 0 0 5px 5px rgba(0,0,0,0.2)">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img src="#" style="width: 100%; margin: 4% 0 0 0">
            </div>
        </div>
        <div class="col-md-12" style="display: none">
            <h1 style="font-size: 700%"> I love upma</h1>
        </div>
        <div class="row" style="text-align: center;margin-bottom: 1%">
            <h2>
                <small>The ultimate league is here this Riviera.<br/>Do you have what it takes to come out on top?<br/>Join
                    the phenomenon.
                </small>
            </h2>
        </div>
        <div class="row" style="margin: 2% 0;z-index: 1">

            <button style="margin-bottom: 2%" data-toggle="modal" data-target=".bs-example-modal-lg">
                Begin
            </button>
        </div>
    </div>

    <!--Footer -->
    <div class="col-md-12"
         style="box-shadow: 1px 0 5px 5px rgba(0,0,0,0.2);color: white;background:rgba(0,0,0,0.9);min-height: 100%">
        <hr/>
        <div class="row">
            <div class="col-md-12" align="center" style="text-align: center">
                <a href="#">
                    <h4>
                        Developers
                    </h4>
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4" align="center"><a href="#">Riviera</a></div>
            <div class="col-md-4" align="center"><a href="#">IEEE CS</a></div>
            <div class="col-md-4" align="center"><a href="#">VIT</a></div>

        </div>
    </div>

</div>
</body>
</html>