<!--
  Riviera Premier League <rivierapremierleague@gmail.com>
  Copyright (C) 2014  IEEE Computer Society - VIT Student Chapter <ieeecs@vit.ac.in>

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registration | RPL</title>
        <link type="text/css" rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/min/rplmain.min.css"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72986055-1', 'auto');ga('send', 'pageview');
        </script>
    </head>
    <body style="background-color:#646464;font-family: 'PT Sans', sans-serif;height:100%;" onLoad="valid();">
        <div style="min-height: 100%">
            <div class="large-12 top-bar" style="overflow: visible;">
                <section class="top-bar-section small-only-text-center">
                    <ul class="left">
                        <li>
                            <a href="/">Riviera Premier League</a>
                        </li>
                    </ul>
                    <ul class="right">
                        <li class="has-dropdown not-click" style="border-radius: 5px">
                            <a href="#" style="border-radius: 5px">Sign In</a>
                            <ul class="dropdown" style="width:300%;">
                                <li class="title back js-generated">
                                    <form method="post" action="/login">
                                            <h5>
                                                <a href="javascript:void(0)">Back</a>
                                            </h5>
                                            <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                                <div class="row">
                                                    <div class="small-3 columns" style="margin-left: -5%">
                                                        <label for="team" class="right inline" style="color: white;">
                                                            Team Name:
                                                        </label>
                                                    </div>
                                                    <div class="small-9 columns">
                                                        <input type="text" id="team" name="team_name" required autofocus
                                                               placeholder="Team Name" style="margin:-4% 0 0 1%;border-radius: 5px">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="small-12 left" style="margin:1%;padding-bottom: 5%">
                                                <div class="row" style="margin-top: 2%">
                                                    <div class="small-3 columns" style="margin-left: -5%">
                                                        <label for="pass" class="right inline" style="color: white;">
                                                            Password:
                                                        </label>
                                                    </div>
                                                    <div class="small-9 columns">
                                                        <input type="password" id="pass" placeholder="Password" name="password"
                                                               style="margin:-4% 0 0 1%;border-radius: 5px" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" align="center" class="button [tiny small large]"
                                                   value="Login" id="button" name="login" style="border-radius: 5px;background: rgba(30,30,30,1);margin-left: 38%;margin-bottom: 3%;"/>
                                    </form>
                                </li>
                                <li class="divider">
                                    <a href="/forgot">Forgot Password?</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>
            <!-- top bar -->
            <div class="row" align="center">
                <div class="small-12 medium-12 large-12 columns" style="background:rgba(0,123,184,0.5); border-radius: 0 0 5px 5px;box-shadow: 0 1px 25px 5px rgba(0,0,0,0.5);box-shadow-top:0 0 0 0 rgba(0,0,0,0);float: left;text-align: left ">
                    <form name="signin" id="reg">
                        <fieldset>
                            <legend>Account Details</legend>
                            <div id="fill" class="large-12 medium-12 columns" style="margin:1%;background: red;color: white;display:none">
                                <p></p>
                            </div>
                            <!-- Error Msg-->
                            <div class="row">
                                <div class="small-6">
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="team" class="right inline" style="color: white;">
                                                Team Name:<i style="color:red;">*</i>
                                            </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="text" id="team" placeholder="Team Name" name="team_name" required autofocus/>
                                        </div>
                                    </div>
                                </div>
                                <div class="small-6">
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="pass" class="right inline" style="color: white;">
                                                Password:<i style="color:red;">*</i>
                                            </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="password" id="pass" placeholder="Password" name="password" required autofocus/>
                                        </div>
                                    </div>
                                </div>
                                <div class="small-6">
                                    <div class="row">
                                        <div class="small-3 columns">
                                            <label for="cpass" class="right inline" style="color: white;">
                                                Confirm Password:<i style="color:red;">*</i>
                                            </label>
                                        </div>
                                        <div class="small-9 columns">
                                            <input type="password" id="cpass" placeholder="Re-type Password"
                                                   name="confirm_password" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Manager Details</legend>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <div class="small-2 large-2 columns">
                                        <label for="email" class="right inline" style="color: white;">
                                            Email:<i style="color:red;">*</i>
                                        </label>
                                    </div>
                                    <div class="small-4 large-4 columns left">
                                        <input type="email" id="email" placeholder="example@domain.com" name="email" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <div class="small-2 large-2 columns">
                                        <label for="mobile" class="right inline" style="color: white;">
                                            Mobile:<i style="color:red;">*</i>
                                        </label>
                                    </div>
                                    <div class="small-4 large-4 columns left">
                                        <input type="text" id="pno" placeholder="Mobile Number" name="phone" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <div class="small-2 large-2 columns">
                                        <label for="manager" class="right inline" style="color: white;">
                                            Manager:<i style="color:red;">*</i>
                                        </label>
                                    </div>
                                    <div class="small-4 large-4 columns left">
                                        <input type="text" id="manager" placeholder="Manager Name" name="manager_name" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="large-12" align="center">
                                <input type="submit" id="button" class="button" style="background: rgba(50,50,50,1);border-radius: 5px" align="center" name="button"
                                       onmousedown="validator()"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <footer class="large-12" style="bottom:0; position:relative;">
            <div class="top-bar" style="position:relative;margin:2% 0 0 0; overflow: hidden;">
                <section class="top-bar-section">
                    <ul class="left">
                        <li style="display:block;">
                            <a href="http://vitriviera.com/">Riviera</a>
                        </li>
                    </ul>
                    <ul class="right">
                        <li>
                            <a href="/developers">Developers</a>
                        </li>
                    </ul>
                </section>
                <p style="margin-left: 46%; font-size:60%;color:white;bottom:0; margin-top:2%">&copy;IEEE-CS VIT Chapter </p>
            </div>
        </footer>
        <!-- footer -->
        <script src="/javascript/min/valid.min.js"></script>
    </body>
</html>
